{{- $gpu   := promptStringOnce . "gpu"   "GPU (intel/amd/nvidia/hybrid)" -}}
{{- $role  := promptStringOnce . "role"  "role (work/personal)" -}}
{{- $gname := promptStringOnce . "gitname"  "git author name" -}}
{{- $gmail := promptStringOnce . "gitemail" "git author email" -}}
[data]
    gpu      = {{ $gpu   | quote }}
    role     = {{ $role  | quote }}
    gitname  = {{ $gname | quote }}
    gitemail = {{ $gmail | quote }}
