themes {
    theme {
        fg "{{colors.on_surface.default.hex}}"
        bg "{{colors.surface.default.hex}}"
        black "{{colors.surface_container.default.hex}}"
        red "{{colors.error.default.hex}}"
        green "{{colors.tertiary.default.hex}}"
        yellow "{{colors.secondary.default.hex}}"
        blue "{{colors.primary.default.hex}}"
        magenta "{{colors.primary.default.hex}}"
        cyan "{{colors.primary.default.hex}}"
        white "{{colors.on_surface.default.hex}}"
        orange "{{colors.secondary.default.hex}}"
    }
}
